@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

#library{
  background: #000000;
  position: relative;
  max-width: 100%;
  height: 100vh;
}

.side-nav{
  /* position: absolute; */
  width: 263px;
  height: 98vh;
  /* left: 0px;
  top: 0px; */
  background: #660099;
}
.side-nav .logo{
  position: absolute;
  width: 58px;
  height: 58px;
  left: 88px;
  top: 32px;
  z-index: 1;
}
.menu-items{
  position: absolute;
  color: #fff;
  left: 14px;
  top: 120px;
}
.menu{
  padding: 10px;
  display: flex;
  gap: 12px;
  align-items: center;
}
.menu img{
  width: 20px;
}
.menu p{
  font-size: 14px;
}
.menu-items1{
  padding-bottom: 20px;
}
.search-box{
  border: 2px solid #D9D9D9;
  /* position: absolute;
  top: 20px;
  left: 280px; */
  width: 400px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}
.search-box img{
  width: 20px;
  height: 20px;
  margin-left: 10px;

}
.input{
  width: 100%;
  background: transparent;
  border: 0;
  outline: none;
}
.input::placeholder{
  
  padding-left: 10px;
  
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}

.top-right{
  /* margin-left: 20px; */
  display: flex;
  align-items: center;
  gap: 40px;
}
#profile-pic{
  width: 35px;
  height: 35px;
}
.page-head{
  display: flex;
  gap: 550px;
  justify-content: space-between;
  position: absolute;
  top: 20px;
  left: 280px;
}
.background-circles{
  position: absolute;
  left: 261.66px;
  top: 31px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  transform: rotate(306.63deg);
}
.background-circles div{
  padding: 10px; 
}

.background-circles2{
  position: absolute;
  right: 151.66px;
  bottom: 11px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  transform: rotate(120.63deg);
}
.background-circles2 div{
  padding: 10px; 
}
.big-circ{
  width: 213.82px;
  height: 213.82px;
}
.small-circ{
  width: 88.24px;
  height: 88.24px;
}
.small-circ2{
  width: 88.24px;
  height: 88.24px;
}
.small-circ3{
  width: 57.7px;
  height: 57.7px;

}
.small-circ4{
  width: 23.76px;
  height: 23.76px;
}

.r-2{
  position: absolute;
  left: 350px;
  top: 95px;
  background: rgba(15, 11, 11, 0.7);
  border-radius: 8px;
}
.rectangle img{
    width:850px;
    height: 410px;
}
.rectangle-heading{
  font-size: 15px;
  color: #FFFFFF;
  position: absolute;
  left: 350px;
  top: 68px;
  font-weight: 400;
  font-family: 'Rubik';
}

.playing-icon img{
   width: 800px;
   height: 4.78px;
   margin-left: 10px;
   margin-bottom: 14px;
   margin-top: 14px;
   border-radius:4px;
  padding-left: 40px;
 
  
}

.playing-icon2 img{
    width: 880px;
    height: 60px;
    border-radius: 6px;
}
/*DIV FOR THE TIME OF PLAYING(4:05)*/
 .second{
  color:#FFFFFF;
  position: absolute;
  margin-top:5px;
  margin-left: 10px;
  font-size: 15px;
 
}
/*DIV FOR THE TIME OF PLAYING(0:00)*/
.first{
  color:#FFFFFF;
  position: absolute;
  margin-right: 10px;
  margin-top: 6px;
  font-size: 13px;
  font-family: 'Rubik';
}